<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title style='text-align: center'>Reported incidents</ion-title>
    <ion-button  slot='end'  (click)='closePopup()' fill="clear" >
      <ion-icon color='secondary' slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <p style="text-align: center">{{address.street}}</p>
    <p style="text-align: center">{{address.section}}</p>
    <p style="text-align: center">{{address.surburb}}</p>
  <ion-button (click)='reportCrime()'>Report a crime</ion-button>
</ion-content>
