<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot ="start">
            <ion-menu-button>
            </ion-menu-button>
          </ion-buttons>
          <ion-title  style="text-align: center"><img src="\assets\icon\magnifying-glass (10).png" >
            </ion-title>
    </ion-toolbar>
   </ion-header>

<ion-content color="success">
    <ion-card>
    <ion-list color="light">  
  <ion-searchbar color="light" showCancelButton="never" placeholder="Location" (ionChange)="autocomplete()" [(ngModel)]="searchString">
     </ion-searchbar>        
            <ion-item *ngFor = "let suggest of place">
              {{suggest.Place}}
            </ion-item>             
    </ion-list>
  </ion-card>
  <ion-card>
      <ion-item>
          <ion-input placeholder="Headline"></ion-input>
        </ion-item>
  </ion-card>

<!-- Textarea in an item with a placeholder -->
<ion-card>
    <ion-item>
        <ion-textarea placeholder="Description" rows="20" cols="20"></ion-textarea>
        </ion-item>
</ion-card>

<div style="text-align: center">
    <ion-button  shape="round" color="tertiary">
        Submit
    </ion-button>
      
  </div>

</ion-content>
