<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot ="start">
          <ion-menu-button>
          </ion-menu-button>
        </ion-buttons>
        <ion-title style="text-align: center"><img src="\assets\icon\magnifying-glass (10).png"></ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content class="one" color="success" ($ionicView.enter)="checkURL()">
 
 
    <form class="form" style="padding: 50px;" [formGroup]="loginForm">
      <h1 style="text-align: center" class="header"><b>Sign In</b></h1>
    
        
      <div class="form-divider">
        
        <ion-item class="inputItems">
        <ion-input formControlName="email" placeholder=" Email Address"><ion-icon name="mail"></ion-icon></ion-input>
        
      </ion-item>
      <ion-item class="inputItems">
        <ion-input formControlName="password" type="password" placeholder=" Password"><ion-icon name="lock"></ion-icon></ion-input>
      </ion-item>
    
      </div>
   

      <br/>
      <div style="text-align: center">
        <ion-button color="tertiary"  class="form-buttons" [disabled]="!loginForm.valid" shape="round" (click)="login()">Login</ion-button><br/><br/>
        <a (click)="resetPassword()">Forgot password</a><br/>
        Don't have an account? <a  class="form-link"  [routerLink]="['/registration']">Register</a>  
      </div>
    </form>
    
  </ion-content>
