<ion-header>
  <ion-toolbar>
      <ion-buttons slot ="start">
          <ion-menu-button>
          </ion-menu-button>
        </ion-buttons>
    <ion-title>CrimeAlert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar showCancelButton="always"></ion-searchbar>

    <ion-card>
        <ion-card-header>
          <ion-card-title>Map</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          ....
        </ion-card-content>
      </ion-card>
      <!-- Textarea in an item with a floating label -->
<ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  <ion-button >
    Submit
  </ion-button>
</ion-content>
