<ion-header  >
  <ion-toolbar color="tertiary">
    <ion-title style="text-align: center">LOCATION</ion-title>
    <ion-button slot='end' color="tertiary" shape="round" (click)='closePopup()'>X</ion-button>
  </ion-toolbar>
  
</ion-header>

<ion-content>
    <p><b><strong>Content</strong></b></p>
  <ion-card>

    <ion-item>
      <ion-label>Type of Crime</ion-label>
      <ion-select interface='popover' (ionChange)='options($event);'>
        <ion-select-option *ngFor="let crime of result" [value]="crime">{{crime}}</ion-select-option>
      </ion-select>
    </ion-item> 
 </ion-card>
 <ion-item *ngIf='showInput'>
   <ion-label><ion-icon name ="list-box"></ion-icon></ion-label>
 <ion-input  position="stacked" placeholder='Describe crime'></ion-input>
 </ion-item>
 <ion-list>
   <ion-item>
   <ion-label>Share on twitter</ion-label>
 <ion-checkbox  slot='start' ></ion-checkbox>
</ion-item>
</ion-list>
<div style="text-align: center">
     <ion-button  shape="round" color="tertiary">
         Submit
     </ion-button>
     
     
 </div>
</ion-content>
