<ion-app>
  <ion-menu>
    <ion-header  style="margin: 0; padding: 0">
      <ion-toolbar color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content  style="margin: 0; padding: 0" color="success">
      <ion-list  style="margin: 0; padding: 0">
        <ion-menu-toggle auto-hide="false" color="tertiary">
            
                <ion-item *ngIf="!homePage" (click)="auto('home')" color="success" style="margin: 0">
                    <ion-icon name="home"></ion-icon>&nbsp;<ion-label>Home</ion-label>
                  </ion-item>
           
              <ion-list-header color="tertiary">
                <ion-label >Report</ion-label>
              </ion-list-header>

              <ion-item (click)="auto('report-alert')" color="success">
                <ion-icon name="alert"></ion-icon>&nbsp;<ion-label>Crime alert</ion-label>
              </ion-item>
              <ion-item  (click)="auto('community-event')" color="success">
                <ion-icon name="people"></ion-icon>&nbsp;<ion-label>Community event</ion-label>
              </ion-item>
              
              <ion-list-header color="tertiary">
                  <ion-label>Account</ion-label>
                </ion-list-header>
                
                <ion-item (click)="auto('profile')" color="success">
                  <ion-icon name="person"></ion-icon>&nbsp;<ion-label>Profile</ion-label>
                </ion-item>
                <ion-item *ngIf="!email" (click)="auto('registration')" color="success">
                  <ion-icon name="person-add"></ion-icon>&nbsp;<ion-label>Sign Up</ion-label>
                </ion-item>
                <ion-item *ngIf="!email"  (click)="auto('login')" color="success">
                  <ion-icon name="log-in"></ion-icon>&nbsp;<ion-label>Sign In</ion-label>
                </ion-item>
                <ion-item *ngIf="email" [routerLink]="['/profile']" color="success">
                  <ion-icon name="person"></ion-icon>&nbsp;<ion-label>Profile</ion-label>
                </ion-item>
                <ion-item  *ngIf="email" (click)="signOut('home')" color="success">
                    <ion-icon name="log-out"></ion-icon>&nbsp;<ion-label>Sign Out</ion-label>
                </ion-item>
                
            
            
              
        </ion-menu-toggle>
        <!-- <ion-menu-toggle auto-hide="false" *ngFor= 'let x of appMenu'>
          <ion-item  [routerLink]="[x.url]">
           <ion-icon name="{{x.icon}}"></ion-icon>&nbsp;<ion-label>{{x.title}}</ion-label>
          </ion-item>
          <ion-item  [routerLink]="[report]">
            <ion-icon name="{{photo}}"></ion-icon>&nbsp;<ion-label>Photo</ion-label>
           </ion-item>
           <ion-item  [routerLink]="[x.url]">
            <ion-icon name="{{x.icon}}"></ion-icon>&nbsp;<ion-label>{{x.title}}</ion-label>
           </ion-item>
        </ion-menu-toggle> -->
        </ion-list>
      </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>

