<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot ="start">
          <ion-menu-button (click)="run()"></ion-menu-button>
      </ion-buttons>
      <ion-title  style="text-align: center"><img src="\assets\icon\magnifying-glass (10).png"></ion-title>   
  </ion-toolbar>
</ion-header>
    
<ion-content color="success">



  
<!--  start map -->
   <div id="map_canvas"></div>
<!-- end -->
<ion-list>
      <ion-item *ngFor="let n of scheduled">
          <ion-label text-wrap>
            {{n.id}} - {{n.title}}
            <p> Trigger: {{n.trigger | json }}</p>
          </ion-label>
      </ion-item>
  </ion-list>
​
    <ion-card class="searchBar">
    <ion-searchbar  id="place-id" [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
    <ion-list   [hidden]="autocompleteItems.length == 0">
      <ion-item class="list"  *ngFor="let item of autocompleteItems" tappable id="submit" (click)="selectSearchResult(item)">
         {{ item.description }}
      </ion-item>
     </ion-list>
    </ion-card>

<p id="output"></p>


<!-- <div id="basic-map" data-role="page">
  <div data-role="content">   
      <div data-role="fieldcontain">
          <ion-label for="myDest">Target Destination:</ion-label>
          <ion-input type="text" name="myDest" id="myDest" [ngModel]='myDest' (ionChange)='setDestination($event)' placeholder="User Destination" value=""></ion-input>
      </div>

      <a href="#" id="directions-button" data-role="button" data-inline="true" (click)='  sendDestination()' data-mini="true"> Get Directions<ion-icon name="map"></ion-icon></a>
      <div id="results" style="display:none;">
          <div id="directions"></div>
      </div>
  </div>
</div> -->

  
    <ion-label>Target Destination:</ion-label>
    <ion-input type="text" name="myDest" id="myDest" [ngModel]='myDest' (ionChange)='setDestination($event)' placeholder="Your Destination" value=""></ion-input>
  <ion-button id="directions-button" data-inline="true" data-mini="true" (click)='sendDestination()' >
      <ion-icon name="map"></ion-icon>
  </ion-button>

</ion-content>
