#map_canvas {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0%
}
.searchBar{
  position: fixed;
  background-color: white !important;
  top: 6.5%;
  left: 0;
  right: 0;
  .list{
    padding-left: 25px;
  }
}
#list{
--ion-safe-area-top: 20px;
--ion-safe-area-bottom: 22px;
}
.directions{
position: fixed;
background-color: white !important;
top: 6.5%;
left: 0;
right: 0;
.list{
  padding-left: 25px;
}
}
#pano{
top: 0.5%;
margin-left: 5px;
}
#cards{
position: absolute;
margin-left: 57%;
// top: 15.5%;
bottom: 1.5%;
left: 0;
right: 0;
}
.FabButtons{
margin-right: 50 px;
color: #fd9c00;
--background-color: #fd9c00 !important
}
#panel {
background-color: #DDD;
position:absolute;
top:0;
left:0;
bottom:0;
width:300px;
}
#floating-panel {
position: float top;
z-index: 5;
background-color: rgb(151, 176, 223);
padding: 5px;
border: 1px solid  rgb(151, 176, 224);
border-radius: 5px;
text-align: center;
font-family: 'Roboto', 'sans-serif';
line-height: 30px;
padding-left: 10px;
}