<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot ="start">
          <ion-menu-button>
          </ion-menu-button>
        </ion-buttons>
        <ion-title style="text-align: center"><img src="../../assets/icon/dete.png" style="width: 35px; height:25px">
          KASI DETECTIVES</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content color="success">

   <!--  start map -->
   <div id="map_canvas"></div>
   <!-- end -->

  <ion-searchbar  id="pac-in
  put" (click)="loadMap()" color="success" showCancelButton="never" placeholder="Location" type="search" autocomplete="on" autocorrect="on"></ion-searchbar>
    
      <ion-card>
          <ion-item>
              <ion-textarea placeholder="Description" rows="20" cols="20"></ion-textarea>
              </ion-item>
      </ion-card>
      
      <div style="text-align: center">
          <ion-button  shape="round" color="tertiary">
              Submit
          </ion-button>
            
        </div>
</ion-content>
